amqp==5.2.0
annotated-types==0.7.0
asgiref==3.8.1
async-timeout==5.0.1
azure-core==1.30.2
azure-identity==1.17.1
azure-storage-blob==12.20.0
billiard==4.2.0
boto3==1.34.132
botocore==1.34.132
cachetools==5.3.3
celery==5.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
circuitbreaker==1.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coloredlogs==15.0.1
cryptography==42.0.8
Django==5.0.6
django-cors-headers==4.3.1
django-rest-knox==4.2.0
djangorestframework==3.15.1
google-api-core==2.19.0
google-auth==2.30.0
google-cloud-bigquery==3.24.0
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.1
greenlet==3.1.1
grpcio==1.64.1
grpcio-status==1.62.2
hiredis==3.0.0
humanfriendly==10.0
idna==3.7
isodate==0.6.1
jmespath==1.0.1
kombu==5.3.7
ml-dtypes==0.4.1
more-itertools==10.5.0
msal==1.29.0
msal-extensions==1.2.0
numpy==2.1.1
oci==2.128.2
packaging==24.1
pandas==2.2.2
portalocker==2.10.0
prompt_toolkit==3.0.47
proto-plus==1.23.0
protobuf==4.25.3
psycopg==3.1.19
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.10.2
pydantic_core==2.27.1
PyJWT==2.8.0
pyOpenSSL==24.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-ulid==1.1.0
pytz==2024.1
PyYAML==6.0.2
redis==5.2.0
redis-om==0.3.3
redisvl==0.3.6
requests==2.32.3
rsa==4.9
s3transfer==0.10.2
six==1.16.0
SQLAlchemy==2.0.36
sqlparse==0.5.0
tabulate==0.9.0
tenacity==9.0.0
types-cffi==1.16.0.20240331
types-pyOpenSSL==24.1.0.20240722
types-redis==4.6.0.20241004
types-setuptools==75.6.0.20241126
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
sqlalchemy

# Dashboard Dependencies
Flask==3.0.0
psycopg2-binary==2.9.9
pytz==2024.1
Flask-Session==0.8.0
msal==1.29.0
